.center{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.d_menu{
	background: #000000;
}

.d-footer{
	background: #785000;
}

.mudar{
	color: #000;
}

.p{
	font-size: 20px;
}