<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Curriculo</title>
	<meta charset="utf-8">
	<meta name="description" content="Página principal do Curriculo do Guilherme Fogo">
	<meta http-equiv="refresh" content="120">
	<meta name="auhor" content="Guilherme Fogo">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<link href="css/estilo.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>

<body>
	<div class="container-fluid">
		<div class="row branco">
			<div class="col preto">
				<nav class="navbar">
					<div class="container justify-content-center">
						<div class="btn btn-outline-secondary me-2">
							<a class="nodecaracao branco" href="https://www.facebook.com/guilherme.fogo.1"
								target="_blank">
								<i class="fab fa-facebook-f me-2 branco"></i> Facebook</a>
						</div>
						<div class="btn btn-outline-secondary me-2">
							<a class="nodecaracao branco" href="https://www.youtube.com/?gl=BR&hl=pt" target="_blank"><i
									class="fab fa-youtube me-2 branco"></i>
								Youtube </a>
						</div>
						<div class="btn btn-outline-secondary me-2">
							<a class="nodecaracao branco" href="https://github.com/GuilhermeFogo/" target="_blank"><i
									class="fab fa-github me-2 branco"></i> Git
								Hub</a>
						</div>
						<div class="btn btn-outline-secondary me-2">
							<a class="nodecaracao branco" href="https://www.linkedin.com/in/guilherme-fogo-8652b4114/"
								target="_blank"><i class="fab fa-linkedin me-2 branco"></i>Linkedin</a>
						</div>
					</div>
				</nav>
			</div>
			<div class="col preto">
				<nav class="navbar">
					<a href="./docs/Currículo Guilherme Fogo.docx" target="_blank" download>
						<button class="btn btn-outline-secondary branco">Baixar Curriculo</button>
					</a>
				</nav>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<figure>
				<img src="img/Imagem.jpg" alt="foto" class="img-fluid rounded-circle mx-auto d-block" />
			</figure>
			<hr class="borda" />
		</div>
	</div>
	<div class="container-fluid">
		<h1 class="text-center">Informações do meu CV</h1>

		<div id="carrosseusID" class="carousel carousel-dark slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carrosseusID" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carrosseusID" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carrosseusID" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner tamanho-carrosel ">
				<div class="carousel-item active" data-bs-interval="100000">
					<div class="abertura">
						<p class="h2">Quem Sou Eu</p>
						<p id="abertura" class="h3 paragrafo">{{texto}}</p>
						<br>
						<p class="h2">Tragetoria profissional</p>
						<a href="#tragetoria" class="h3 paragrafo"> Clique aqui para ir para iniciar</a>

					</div>
				</div>
				<div class="carousel-item" data-bs-interval="10000">
					<div class="abertura">
						<p class="h2">Minha Formação</p>
						<div class="paragrafo">
							<p class="h3">Instituições de Ensino</p>
							<ul id="app" class="list-group">
								<li v-for="todo in todos" class="list-group-item p">
									Instituição: {{todo.text }}<br>
									Local: {{todo.campus}}<br>
									Graduação: {{todo.tipo}} <br>
									Status: {{todo.status}} - {{todo.anofim}} <br>
								</li>
							</ul>

							<p class="h3">Lingua</p>
							<div id="idiomas">
								<p v-for="a in myidiomas" class="p">
									Idioma: {{a.nome }} - {{a.nivel}}
								</p>
							</div>
						</div>

					</div>
				</div>
				<div class="carousel-item" data-bs-interval="10000">
					<div class="abertura">
						<p class="h1">Cursos Extra Curriculares</p>
						<div id="lista_certificados" class="grid-container">
							<div v-for="(nomes, index) in nome">
								<a :href="nomes.link" target="_blank" class="link-normal">
									<figure>
										<img :src="nomes.link" alt="Certificados" />
										<p>{{nomes.text}}</p>
									</figure>
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carrosseusID" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carrosseusID" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<div class="container-fluid">
			<article id="emprego">
				<div class="row">
					<h2 id="tragetoria">Tragetoria profissional</h2>
					<div v-for="job in empregos" class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<p class="h3">Empresas já Trabalhadas</p>
							</div>
							<div class="card-body">
								<h5 class="card-title">{{job.nome_empresa}}</h5>
								<a :href="job.link" target="_blank">
									<img :src="job.img" alt="empresas trabalhadas"
										class="img-fluid mx-auto d-block img-padrao" />
								</a>
								<p class="card-text">
									Atividade: {{job.atividade}}<br>
									Cargo: {{job.cargo}}
								</p>
							</div>
							<div class="card-footer">
								<a href="https://www.linkedin.com/in/guilherme-fogo-8652b4114/" target="_blank">
									>>>Clique aqui para mais informações<<< </a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>

	</div>
	<script src="js/meu_vue.js"></script>
</body>

</html>